[default]
aws_access_key_id = {{range (onepassword "vygxvmfpmrh2lgwz22jwu6mo2q").details.sections}}{{if eq .title "credentials"}}{{range .fields}}{{if eq .t "id"}}{{.v}}{{end}}{{end}}{{end}}{{end}}
aws_secret_access_key = {{range (onepassword "vygxvmfpmrh2lgwz22jwu6mo2q").details.sections}}{{if eq .title "credentials"}}{{range .fields}}{{if eq .t "access_key"}}{{.v}}{{end}}{{end}}{{end}}{{end}}
