[default]
aws_access_key_id = {{ (onepasswordItemFields "llhjzyovri2kl24zafzkg76vci").accessKeyId.v }}
aws_secret_access_key = {{ (onepasswordItemFields "llhjzyovri2kl24zafzkg76vci").secretAccessKey.v }}
