#!/bin/bash

set -e

blue=`tput setaf 4`
reset=`tput sgr0`
echo "${blue}Running run_0_2_install-asdf...${reset}"

{{- if not (stat (joinPath .chezmoi.sourceDir ".steps/step1")) }}
# Install dependencies for installing python
sudo apt-get update
sudo apt-get install -y \
  build-essential libssl-dev zlib1g-dev libbz2-dev \
  libreadline-dev libsqlite3-dev wget llvm libncurses5-dev libncursesw5-dev \
  xz-utils tk-dev libffi-dev liblzma-dev

sudo apt-get install -y pass

# Instructions comming from https://docs.docker.com/engine/install/ubuntu/#install-using-the-repository
sudo apt-get install -y ca-certificates curl gnupg lsb-release uidmap
curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo gpg --dearmor -o /usr/share/keyrings/docker-archive-keyring.gpg
echo \
  "deb [arch="(dpkg --print-architecture)" signed-by=/usr/share/keyrings/docker-archive-keyring.gpg] https://download.docker.com/linux/ubuntu "\
  (lsb_release -cs)" stable" | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
sudo apt-get update
sudo apt-get install -y docker-ce docker-ce-cli containerd.io

# Instructions coming from https://docs.docker.com/engine/security/rootless/
sudo systemctl disable --now docker.service docker.socket
dockerd-rootless-setuptool.sh install

sudo curl -L "https://github.com/docker/compose/releases/download/1.29.2/docker-compose-"(uname -s)"-"(uname -m) -o /usr/local/bin/docker-compose
sudo chmod +x /usr/local/bin/docker-compose
{{- end }}

asdf install

touch {{ joinPath .chezmoi.sourceDir ".steps/step1" }}
