#!/usr/bin/fish

{{ range $key := list "vvwkphf3plex6suh33e5dasa3q" "y43p3o6pj4boi3j5bjpdu7ylta" -}}

{{- $password := "" -}}
{{- $keygrip := "" -}}

{{- range (onepassword $key).details.sections }}
  {{- if eq .title "info" }}
    {{- range .fields }}
      {{- if eq .t "password" }}
        {{- $password = .v }}
      {{-  end }}
      {{- if eq .t "keygrip" }}
        {{- $keygrip = .v }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- end -}}

op get document {{ $key }} | gpg --import --pinentry-mode loopback --passphrase={{ printf "%q" $password}}

{{ end -}}
