{{- template "bash-prefix" "run_after_1_homebrew-packages" }}

{{- if eq .chezmoi.os "darwin" -}}
brew bundle --no-lock --file=/dev/stdin <<EOF
cask "arc"
cask "1password"
cask "spotify"
cask "signal"
cask "proton-mail"
cask "slack"

brew "gnupg"
brew "pinentry-mac"
EOF
{{ else }}
echo "[skip] not on MacOS"
{{ end -}}
