{{- template "bash-prefix" "run_after_1_homebrew-packages" }}

{{- if eq .chezmoi.os "darwin" -}}
brew bundle --no-lock --file=/dev/stdin <<EOF
cask "arc"
cask "1password"
cask "spotify"
cask "signal"
cask "proton-mail"
cask "slack"
cask "rectangle"
cask "font-fira-code-nerd-font"
cask "kitty"
cask "docker"
cask "keymapp"

brew "gnupg"
brew "pinentry-mac"
brew "fish"
brew "fisher"
brew "ripgrep"
brew "luarocks"
brew "tmux"
brew "tmuxinator"
brew "docker"
EOF
{{ else }}
echo "[skip] not on MacOS"
{{ end -}}
