[default]
aws_access_key_id = {{ (onepasswordItemFields "llhjzyovri2kl24zafzkg76vci").accessKeyId.value }}
aws_secret_access_key = {{ (onepasswordItemFields "llhjzyovri2kl24zafzkg76vci").secretAccessKey.value }}

[prod]
aws_access_key_id = {{ (onepasswordItemFields "kbovnaizfo72vvxfzscvpkoz64").accessKeyId.value }}
aws_secret_access_key = {{ (onepasswordItemFields "kbovnaizfo72vvxfzscvpkoz64").secretAccessKey.value }}
