[Desktop Entry]
Version=1.0
Type=Application
Name=1password
GenericName=1password
Comment=Launch 1password
Icon=1password
Exec=1password --silent
Terminal=false
X-GNOME-Autostart-Delay=3
