nodejs        16.14.0
yarn          1.22.19
python        {{ .pythonVersion }} 2.7.18
ruby          3.1.2
1password-cli 2.21.0
kubectl       1.25.3
jq            1.6
java          temurin-17.0.2+8
flutter       2.10.3
awscli        2.8.3
dive          0.10.0
rust          1.64.0
neovim        0.9.1
azure-cli     2.42.0
pulumi        3.80.0
golang        1.14
github-cli    2.30.0
firebase      12.5.2
bitwarden     2023.8.2
lazygit       0.40.2
