nodejs    16.14.0
yarn      1.22.17
python    {{ .pythonVersion }}
ruby      3.1.1
1password 1.12.4
kubectl   1.23.4
jq        1.6
java      temurin-17.0.2+8
flutter   2.10.3
awscli    2.4.23
dive      0.10.0
