# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'christoomey/vim-tmux-navigator'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'mattdavis90/base16-tmux'

# Setup powerline
source "{{ template "pythonPath" ( list "powerline/bindings/tmux/powerline.conf" .) }}"

# Apply base16 colors
set -g @colors-base16 "$TMUX_BASE16_THEME"

# Custom configuration
set -g base-index 1
setw -g pane-base-index 1
set -s escape-time 0

# Keep this line at the end
run -b '~/.tmux/plugins/tpm/tpm'
